.login_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
    animation: component 2s 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    background-color: #B2B3B4;
    height: 864px;
    opacity: 0.6;
    z-index: 10000;
}

@keyframes component {
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0.6;
    }
}

.login_title{
    width: 412px;
    height: 40px;
    /* margin-top: 84px; */
    font-family: 'Merriweather', serif;
    font-size: 32px;
    /* line-height: 40px; */
    text-align: center;
    color: #B2B3B4;
    opacity: 1;
}

.login_form_wrapper{
    position: absolute;
    animation: form 2s 1;
    display: flex;
    justify-content: center;
    width: 1366px;
    margin-top: 130px;
    z-index: 10000;

}

@keyframes form {
    0%{
        opacity: 0;
    }

    60%{
        opacity: 1;
    }
}
.login_form{
    display: flex;
    flex-direction: column;
    background-color: #2b2d2f;
    border: 1px solid #707070;
    width: 450px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding:30px 45px;
}

.input_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 15px;
}

::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #B2B3B4;
}

.input_inner{
    position: relative;
}

.input{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #B2B3B4;
    width: 359px;
    background-color: #2B2D2F;
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 7px;
    padding-left: 28px;
}

.icon_search{
    position: absolute;
    top: 5px;
    color: #F8F8F8;
    height: 18px;
    width: 18px;
}

.label{
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: #EBDFCD;
}

.login_form_button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    width: 220px;
    height: 50px;
    background-color: #2B2D2F;
    border: 1px solid #f8f8f8;
    border-radius: 25px;
    color: #f8f8f8;
    cursor: pointer;
    transition: all .3s linear;
}

.login_form_button:hover{
    background-color: #f8f8f8;
    color: #2B2D2F;
}

.login_form_button:disabled{
    cursor: default;
    background-color: #f8f8f8;
    color: #2B2D2F;
}

.login_form_link_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login_form_link{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #B2B3B4;
    transition: all .3s linear;
}

.login_form_link a{
    color: #40a0e0;
    text-decoration: none;
}
.login_form_link a:hover{
    color: #F8F8F8;
}

.login_social_wrapper{
    margin: 30px 0 40px;
}

.login_social_button {
    background: none;
    margin-right: 30px;
    transition: all .2s linear;
}

.login_social_button:last-child {
    margin-right: 0px;
}

.login_social_icon {
    font-size: 45px;
    color: #B2B3B4;
    transition: all .2s linear;
}

.login_social_icon:hover{
    color: #F8F8F8;
}
